<div class="container flex-1 py-6" id="page-container">
  <div class="row align-items-center">

    {{! Breadcrumbs }}
    <div class="col font-size-md font-medium">
      {{breadcrumbs}}
    </div>

    {{! Search }}
    {{~#is settings.header_search_style 'none'}}
      <div class="md:col-4">
        <div class="search mb-4">
          <h2 class="sr-only">{{t 'search' }}</h2>
          {{~#if settings.search_placeholder}}
            {{#if settings.use_translations}}
              {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false placeholder=(dc settings.search_placeholder)}}
            {{else}}
              {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false placeholder=settings.search_placeholder}}
            {{/if}}
          {{else}}
            {{search class='form-field mb-0' instant=settings.instant_search scoped=settings.scoped_kb_search submit=false}}
          {{/if~}}
          <svg class="search-icon fill-current transition" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" aria-hidden="true">
            <use xlink:href="#icon-search" />
          </svg>
        </div>
      </div>
    {{/is~}}

  </div>

  {{! Category header }}
  <div>
    <h1 class="lg:font-size-5xl">
      {{category.name}}
    </h1>
    {{#if category.description}}
      <p class="font-size-xl text-gray-600">
        {{category.description}}
      </p>
    {{/if}}
  </div>

  <div class="row row-lg">
    <div class="col">

      {{! Section list }}
      {{#if sections}}
        <div class="row">
          {{#each sections}}
            <div class="sm:col-12 lg:col-4 mb-4" id="section-anchor-{{id}}">

              {{! Section heading }}
              <h2>
                <a class="text-inherit" href="{{url}}">
                  {{name}}
                </a>
              </h2>

              {{! Subsection list }}
              {{#isnt ../settings.subsection_style 'none'}}
                {{#if sections}}
                  <ul class="row row-sm list-unstyled mb-0 lg:font-size-lg">
                    {{#each sections}}
                      <li class="col-12">
                        <div class="relative media align-items-baseline py-2 h-full lg:py-3">
                          <svg class="mr-3 flex-shrink-0 fill-current" width="16" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5 1.1C6.1 0.4 5.3 0 4.5 0H0.5C0.2 0 0 0.2 0 0.5V14.4C0 14.8 0.2 15 0.5 15H14.4C14.7 15 14.9 14.8 14.9 14.5V2.8C14.9 2.5 14.7 2.3 14.4 2.3H8.4C7.6 2.3 6.9 1.8 6.5 1.1Z" />
                          </svg>
                          <a class="link-stretched hover:no-underline" href="{{url}}">
                            {{name}}
                          </a>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              {{/isnt}}

              {{! Article list }}
              {{#if articles}}
                <div id="article-list-{{id}}">
                  {{#if (compare ../settings.article_list_style '<=' '8')}}

                    {{! Built-in article list }}
                    <ul class="row row-{{#is ../settings.article_list_style '1-bullet'}}flush list-disc{{else}}sm list-unstyled{{/is}}">
                      {{~#each articles}}
                        <li class="col-12
                          {{~#if (compare ../../settings.article_list_columns ">=" "2")}} md:col-6{{/if~}}
                          {{~#if (compare ../../settings.article_list_columns ">=" "3")}} lg:col-4{{/if~}}">
                          <div class="relative media align-items-baseline py-2 h-full lg:py-3
                            {{~#is ../../settings.article_list_style '1-bullet'}} pr-7{{/is~}}
                            {{~#is ../../settings.promoted_article_style 'bold'}}{{#if promoted}} font-bold{{/if}}{{/is~}}
                            {{~#isnt ../../settings.article_list_excerpt 0}} font-semibold{{/isnt~}}
                            {{~#is ../../settings.article_list_style '3-bordered'}} border-bottom{{#is ../../settings.article_list_columns "1"}}{{#if @last}} border-bottom-0{{/if}}{{/is}}{{/is~}}">

                            {{~#is ../../settings.article_list_style '3-bordered'}}
                              <div class="flex" x-data="{ src: Theme.assets['article'] }">
                                <template x-if="src">
                                  <img class="svg-icon mr-3" src="{{asset 'placeholder.png'}}" alt="" aria-hidden="true" :src="src" />
                                </template>
                              </div>
                            {{/is~}}

                            <div class="media-body lg:font-size-lg">
                              <a class="link-stretched{{~#is ../../settings.article_list_style '3-bordered'}} hover:no-underline{{/is}}" href="{{url}}">
                                {{~title~}}
                              </a>
                              {{~#is ../../settings.promoted_article_style 'icon'}}
                                {{~#if promoted}}
                                  <svg class="svg-icon ml-1 fill-current text-orange-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426 405" aria-hidden="true">
                                    <title>{{t 'promoted'}}</title>
                                    <use xlink:href="#icon-star" />
                                  </svg>
                                {{/if~}}
                              {{/is~}}
                              {{~#if internal~}}
                                <svg class="svg-icon ml-1 fill-current text-base" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                                  <title>{{t 'internal'}}</title>
                                  <use xlink:href="#icon-lock" />
                                </svg>
                              {{~/if~}}
                              {{~#isnt ../../settings.article_list_excerpt 0}}
                                <p class="my-2 font-size-md break-words font-normal">
                                  {{excerpt body characters=../../settings.article_list_excerpt}}
                                </p>
                              {{/isnt~}}
                            </div>
                          </div>
                        </li>
                      {{/each~}}
                    </ul>
                    {{#if more_articles}}
                      <p class="mt-4 lg:font-size-lg">
                        <a class="hover:no-underline" href="{{url}}">
                          {{t 'show_all_articles' count=article_count}}
                          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                          </svg>
                        </a>
                      </p>
                    {{/if}}
                  {{else}}

                    {{! Custom article list micro-template }}
                    <script type="text/javascript">
                      ready(function() {
                        new Navigation(document.getElementById('article-list-{{id}}'), {
                          collection: Theme.contentBlocks || {},
                          template: 'articles',
                          sectionId: {{id}},
                          templateData: {
                            sectionId: {{id}},
                            numberColumns: {{../settings.article_list_columns}},
                            excerptLength: {{../settings.article_list_excerpt}},
                            promotedArticleStyle: "{{../settings.promoted_article_style}}"{{#if more_articles}},
                            showAll: "{{t 'show_all_articles' count=article_count}}"{{/if}}
                          }
                        });
                      });
                    </script>
                  {{/if}}
                </div>
              {{/if}}

              {{! No sections or articles }}
              {{#unless sections}}
                {{#unless articles}}
                  <p class="mt-5">
                    <a href="{{url}}">
                      {{t 'empty'}}
                    </a>
                  </p>
                {{/unless}}
              {{/unless}}

            </div>
          {{/each}}
        </div>
      {{else}}
        <p class="mt-5">
          <a href="{{category.url}}">
            {{t 'empty'}}
          </a>
        </p>
      {{/if}}

    </div>

    <aside class="lg:col-4{{~#is settings.category_sidebar 'none'}}{{~#isnt settings.cta_style 'sidebar'}} hidden{{else}}{{~#is settings.cta_location 'home'}} hidden{{/is~}}{{/isnt~}}{{/is~}}">

      {{~#isnt settings.category_sidebar 'none'}}
        {{!------------------
           Sidebar navigation
           ------------------}}
        <div
          data-element="navigation"
          data-template="{{#is settings.category_sidebar 'custom'}}sidebar-navigation{{else}}{{settings.category_sidebar}}{{/is}}">
        </div>
      {{/isnt~}}

      {{~#is settings.cta_style 'sidebar'}}
        {{~#isnt settings.cta_location 'home'}}
          {{!--------------
             Call-to-action
             --------------}}
          <div
            data-element="template"
            data-template="call-to-action">
          </div>
        {{/isnt~}}
      {{/is~}}

    </aside>

  </div> {{! /.row }}
</div> {{! /#page-container }}

{{~#isnt settings.cta_style 'none'}}
  {{~#isnt settings.cta_style 'sidebar'}}
    {{~#isnt settings.cta_location 'home'}}
      {{!--------------
         Call-to-action
         --------------}}
      <div
        data-element="template"
        data-template="call-to-action">
      </div>
    {{/isnt~}}
  {{/isnt~}}
{{/isnt~}}

<script type="text/javascript">document.documentElement.classList.add('category-page', 'category-' + {{category.id}})</script>
